@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "nprogress/nprogress.css";
@import "antd/dist/reset.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

#root .ant-layout .ant-card {
  margin-bottom: 24px;
}

#root .ant-layout .ant-pagination {
  margin-bottom: 0;
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }

  .print-container {
    display: block;
  }
}
